# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Andrey\Documents\Andrey_study\OOP\OOAP\lab4\Robot_For_Student (2018_2019)\BrokenRobotGameEmpty v3_3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
